hr{
  background-color: white;
}

input:focus{
  outline: 2px solid white;
}

.close:focus{
  outline-offset: 9px;
  outline: 2px solid white;
}

table th{
  text-align: center;
}

table td{
  text-align: center;
  text-transform: capitalize;
}

div div{
  padding-left: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
