hr{
  background-color: white;
}

input:focus{
  outline: 2px solid white;
}

.recordGameModal {
  max-height: 450px;
  overflow-x: auto;
  overflow-y: auto;
}

.sports-modal-img{
  width: 60px;
  height: auto;
  margin: 5px;
}

.sports-modal-img-larger{
  width: 75px;
  margin: 5px;
}

.buttons{
  margin: 10px;
}

.close:focus{
  outline-offset: 9px;
  outline: 2px solid white;
}

table th{
  text-align: center;
}

table td{
  text-align: center;
  text-transform: capitalize;
}

div div{
  padding-left: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.hide{
  display:none;
}
